.generalContainer{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: %100;
	width: %100;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.generalContainer .topBar{
	background-color: green;
}

.generalContainer .topBar p{
	margin-left: 2em;
}

.generalContainer .middle{
	display: flex;
	justify-content: space-between;
	height: 300px;
}

.generalContainer .middle .giveUpSection{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.generalContainer .middle .secretWordSection{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.generalContainer .middle .secretWordSection #secretWord{
	font-size: 50px;
}

.generalContainer .middle .alphabetSection{
	display: flex;
	flex-wrap: wrap;
	width: 30%;
}

.generalContainer .middle .alphabetSection button{
	border-radius: 10px;
	height: 40px;
	width: 23%;
}

.generalContainer .bottom{
	display: flex;
	justify-content: space-around;
	height: 200px;
}

.generalContainer .bottom button{
	border-radius: 10px;
	width: 150px;
}
